<!DOCTYPE html>
<html>
<head>
  <title>微信群监控系统</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
    <div class="jumbotron text-center">
      <h1>微信群监控系统</h1>
    </div>

    <img src="{{static_url('QR.png')}}"></img>
    <a href="./person"><button>进入成员列表</button></a>
  </div>
</body>
</html>
