<!DOCTYPE html>
<html>
<head>
  <title>用户信息聚合</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
    <div class="jumbotron text-center">
      <h1>用户信息聚合</h1>
    </div>

    <div class="row">
      <div class="col"><h3>微信昵称：</h3></div>
      <div class="col">{{nickname}}</div>

      <div class="col"><h3>微信头像：</h3></div>
      <div class="col"></div>

      <div class="col"><h3>加群总数：</h3></div>
      <div class="col">{{len(groups)}}</div>

      <div class="col"><h3>群昵称：</h3></div>
      <div class="col">{%for n in nicks%} {{n}} <br> {%end%}</div>
    </div>

    <br><br><br>


    <h2>加入的群和发言情况</h2>
    <table class="table">
    <thead>
      <tr>
        <th>群名</th>
        <th>消息数</th>
        <th>加入时间</th>
        <th>平均每日消息</th>
      </tr>
    </thead>
    <tbody>
      {% for g in groups%}
        <tr>
          <td>{{g[0]}}</td>
          <td>{{g[1]}}</td>
          <td></td>
          <td></td>
        </tr>
      {%end%}
    </tbody>
  </table>

    <h2>总体发言情况</h2>
    <table class="table">
    <thead>
      <tr>
        <th>日期</th>
        <th>发言数</th>
      </tr>
    </thead>
    <tbody>
      {% for r in msg_agg%}
        <tr>
          <td>{{r[0]}}</td>
          <td>{{r[1]}}</td>
        </tr>
      {%end%}
    </tbody>
  </table>

  <h2>所有发言</h2>
  <table class="table">
  <thead>
    <tr>
      <th>时间(UTC +0)</th>
      <th>群</th>
      <th>内容(仅前30字)</th>
    </tr>
  </thead>
  <tbody>
    {% for m in msgs%}
      <tr>
        <td>{{m[0]}}</td>
        <td>{{m[1]}}</td>
        <td>{{m[2]}}</td>
      </tr>
    {%end%}
  </tbody>
</table>









  </div>



</body>
</html>
